<!DOCTYPE html>
  <html>
    <head>
      {% include 'bootstrap.html' %}
      <title>Application Submitted</title>
    </head>
    <body>
      {% include 'nav.html' %}
      {% include 'banner.html' %}
      <div class="container text-center">
      <h2 class="py-4 text-center">{{job.title}} Application Submitted!</h2>
      <b class="mb-1">Full Name</b>
      <div class="mb-2">{{application['full_name']}}</div>
      
      <b class="mb-1">Email</b>
      <div class="mb-2">{{application['email']}}</div>
      
      <b class="mb-1">LinkedIn URL</b>
      <div class="mb-2">{{application['linkedin_url']}}</div>
      
      <b class="mb-1">Education</b>
      <div class="mb-2">{{application['education']}}</div>
      
      <b class="mb-1">Work Experience</b>
      <div class="mb-2">{{application['work_experience']}}</div>
      </div>
      {% include 'footer.html' %}
    </body>
  </html>