<!DOCTYPE html>
<html>
  <head>
    <title>Hiking Careers</title>
    {%include 'bootstrap.html'%}
  </head>
  <body>
    {% include 'nav.html' %}
    {% include 'banner.html' %}
    <div class="container">
    <h1 class="py-4 text-center">Hiking Careers</h1>
    <p class="lead pb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquam urna ac dui viverra dapibus. Cras egestas id dolor accumsan auctor. Maecenas euismod molestie augue, sed congue purus ultrices sed. Vestibulum varius posuere augue, id hendrerit magna auctor nec. Vivamus tincidunt elementum pellentesque. Aenean luctus nisi nec dictum eleifend. Proin et venenatis dolor. Maecenas vitae tortor eget elit molestie porta non sed lacus. Quisque ullamcorper ac eros at lacinia. Vestibulum porttitor orci risus, ac interdum lectus elementum id. Aliquam et sem id risus commodo volutpat. Maecenas consequat, mauris at vehicula scelerisque, velit dolor dictum sapien, eu vulputate tellus nisi id sem. Nunc a iaculis odio. Integer id est ac libero feugiat rhoncus at quis neque. Aenean condimentum vehicula tellus, in sollicitudin velit ullamcorper ut. Pellentesque eu metus non ex pulvinar maximus.</p>
    <h2 class="pb-2 text-center">Open Positions</h2>
    <div>
      {% for job in jobs %}
        {%include 'jobitem.html'%}
      {% endfor %}
    </div>
      <div class="text-center">
        <a href="mailto:hello@fakeemail.ai?subject=General Inquiry" type="button" class="btn btn-primary mt-5">Contact Us</a>
      </div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>