<div class="row border-bottom pb-3">
  <div class="col-9">
  <h4 class="mt-2 mb-0" style="color:rgb(120,120,120)">{{job['title']}}</h4>
  <div class="pb-6"><b>Location:</b> {{job['location']}}</div>
  {% if 'salary' in job %}
  <div class="pb-6"><b>Salary:</b> {{job['salary']}}</div>
  {% endif %}
  </div>
  <div class="col-3 d-flex align-items-center justify-content-end">
  <a href="mailto:hello@fakeemail.ai?subject=Application for {{job['title']}}" type="button" class="btn btn-primary">Apply</a>
  </div>
</div>